.home-h1{

	max-width: 600px;
	font-size: 90px;
	padding: 30px 30px 0 30px;
	text-align: center

}
.home-p{

	max-width: 550px;
	font-size: 35px;
	text-align: center;
}

.btn-outline-danger{

	opacity: 0.5;
}
	/* media querries */
	
@media(max-width:320px ) and (min-width:300px){

}

@media(max-width:360px ) and (min-width:321px){

	
}
@media(max-width:400px ) and (min-width:361px){

	
}
@media(max-width:443px ) and (min-width:401px){

	
}
@media(max-width:480px ) and (min-width:444px){

	
}
@media(max-width:577px ) and (min-width:481px){

	
}
@media(max-width:769px ) and (min-width:578px){

	
}