{% extends "main.html" %}
{% block body %}
 <main role="main">
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3 mx-auto mt-4 home-h1">A Nail Art Studio and Nail Salon in El Paso</h1>
          <p class="lead mx-auto home-p">There are many nail salons in El Paso but only one Nail Art Studio</p>
        </div>
      </div>
      <div class="container">
        <!-- Example row of columns -->
        <div class="row">

        </div> <!-- /row -->
        <hr>
      </div> <!-- /container -->
 </main>

{% endblock %}