{% extends "main.html" %}
{% block body %}
<div class="jumbotron main-container">
  <div class="text-center">
    <img class="logo" src="static/images/SWPWLogo.png" alt="Southwest PURE Water">
  </div>
  <p class="lead tag-line text-center">We offer the best water softeners at the best price, guaranteed.</p>
</div>

<div class="about">
    <h4 class="display-4 text-center about" id="about">Water Filtration Experts</h4>
    <div class="row">
      <div class="col-lg-6 text-center">
        <div class="text-center">
          <img src="static/images/puronics-whole-home-systems.jpg" class="rounded systems" alt="Puronics water softners are reverse osmosis systems used to purify hard water.">
        </div>
        <div class="who">
          <p class="about-southwestpurewater">We are a water technology company based out of El Paso, Texas and <a href="http://puronics.com/dealer-locator/southwest-pure-water/"> Puronics&copy; authorized dealers</a>. We are motivated to educate our community about their water and help people make informed decisions surrounding it.</p>
          <h4 class="mission-head">Our Mission </h4>
          <p class="our-mission"><em>We help people, <bold>Prevent</bold> any issues with the water they use, help people Protect their families from contaminants found in municipal water sources and give people access to reverse osmosis systems and water softeners that allow them to easily Purify water at home or work.</em></p>
        </div><!--EO who-->
      </div><!--EO col-lg-6-->
    <div class="col-lg-6 text-center">
      <h4 class="certified-head">Certified Water Softeners</h4>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
          <img src="static/images/epa-seal.png" class="rounded certification" alt="Certified to filter water effeciently by the EPA.">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <img src="static/images/WQA-Gold-Seal.png" class="rounded certification" alt="Our water is tested by the WQA to work as designed.">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <img src="static/images/diamond-certified.png" class="rounded certification" alt="Our water is tested by the WQA to work as designed.">
        </div>
      </div><!--EO row-->
      <div class="certified">
        <p class="certified-systems certified-main">Our water softeners have been tested to work as advertised. Not every water treatment softener can claim that. We take great pride in offering whole home water softeners created by <a href="http://http://www.puronics.com/">Puronics&reg;</a> because they have been tested and certified by the EPA and WQA. Puronics&reg; is a <a href="http://www.diamondcertified.org/report/puronics-service-inc/">Diamond Certified</a> Company they are rated highest in quality and helpful expertise. When you get a system from us you can rest assured that you are getting a quality product.</p>
      </div> <!--EO certified-->
      <p class="certified-systems">When you purchase a whole home water softener from us you can rest assured that you will not have to purchase another, Puronics&reg; offers a lifetime guarantee on the water softeners we sell. With over 70 years, you can rest assured that your investment is protected. Workmanship is essential when installing any system, we make this a possibility by only working with certified and bonded plumbers.</p>
    </div> <!--EO col-lg-6-->
  </div> <!--EO row-->
  <h4 class="display-4 text-center about" id="about">Commercial Users of our Technology</h4>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 text-center">
      <img src="static/images/client-amd.jpg" class="rounded certification" alt="AMD Logo">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 text-center">
      <img src="static/images/client-crowne-plaza.jpg" class="rounded certification" alt="Crowne Plaza Logo">
    </div> 
    <div class="col-lg-4 col-md-4 col-sm-4 text-center">
      <img src="static/images/client-fairmont.jpg" class="rounded certification" alt="Fairmont Logo">
    </div>
  </div> <!--EO row-->
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 text-center">
      <img src="static/images/client-fedex.jpg" class="rounded certification" alt="Fedex Logo">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 text-center">
      <img src="static/images/client-fresh-choice.jpg" class="rounded certification" alt="Fresh Choice Logo">
    </div> 
    <div class="col-lg-4 col-md-4 col-sm-4 text-center">
      <img src="static/images/client-gordon-biersch.jpg" class="rounded certification" alt="Gordon Biersch Logo">
    </div>
  </div> <!--EO row-->
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 text-center">
      <img src="static/images/client-hilton.jpg" class="rounded certification" alt="Hilton Logo">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 text-center">
      <img src="static/images/client-marriott.jpg" class="rounded certification" alt="Marriott Logo">
    </div> 
    <div class="col-lg-4 col-md-4 col-sm-4 text-center">
      <img src="static/images/client-max-restaurant.jpg" class="rounded certification" alt="Maxs Restaurant Logo">
    </div>
  </div> <!--EO row-->
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 text-center">
      <img src="static/images/client-outback-steakhouse.jpg" class="rounded certification" alt="Outback Steakhouse Logo">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 text-center">
      <img src="static/images/client-pebble-beach.jpg" class="rounded certification" alt="Pebble Beach Logo">
    </div> 
    <div class="col-lg-4 col-md-4 col-sm-4 text-center">
      <img src="static/images/client-pf-changs.jpg" class="rounded certification" alt="PF Changs Logo">
    </div>
  </div> <!--EO row-->
</div> <!--EO about-->

<div class="our-products">
  <div class="whole-home-div">
    <h4 class="display-4 text-center products-head " id="products">Whole Home Water Softeners</h4>
  </div>
  <p class="text-center products-desc">The Puronics&reg; whole home water softeners we offer use SilverShield&reg; Protection technology, a NASA technology used to inhibit bacterial growth. The water softeners we offer utilize an advanced valve technology called iGen&reg. The valve is so smart that it will monitor your water to optimize water quality and operating efficiency.</p>
  <div class="row">
    <div class="col-lg-4 col-md-4 text-center system-div">
      <img src="static/images/filtramax.png" class="rounded filters filtramax" alt="FILTRAMAX Water Softners">
    </div>
    <div class="col-lg-8 col-md-8 text-center">
      <h4 class="products-text-head">FILTRAMAX&reg; IGEN&reg;</h4>
      <p class="products-text-desc">The Puronics&reg; FILTRAMAX™ iGen&reg; five-stage water softener and conditioner incorporates technology used on NASA’s Space Shuttle Orbiters and the most intelligent digital valve to ensure your water is the ultimate quality. A water softener so smart, it monitors your water and notifies you when the SilverShield® HYgene®  filter needs replaced. The ability of the iGen® to adapt to your water usage lifestyle and adjust regeneration and the construction quality of the stainless steel media tank provides reduced operating costs and extended operating life.</p>
    </div>
  </div><!--EO row-->
  
  <div id="accordionThree" role="tablist" aria-multiselectable="true">
    <div class="card">
      <div class="card-header" role="tab" id="headingThree">
        <h5 class="mb-0 text-center">
          <a data-toggle="collapse" data-parent="#accordionThree" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
            More Details on the FILTRAMAX&reg; IGEN&reg;
          </a>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="card-block">
          <h6 class="accordion-head">Features</h6>
          <ul class="list-group">
            <li class="list-group-item">iGen&reg; intelligent digital microprocessor controls water softeners operation</li>
            <li class="list-group-item">Notifies homeowner when SilverShield&reg; Hygene&reg; Bacteriostatic filter needs to be replaced based on water volume</li>
            <li class="list-group-item">Maintains 60 days of water usage history to maximize backflush/recharge efficiency</li>
            <li class="list-group-item">Double backwash ensures a clean filter media bed</li>
            <li class="list-group-item">Built-in diagnostics ensure consistent superior quality water</li>
            <li class="list-group-item">Creates auto reserve so you never run out of quality water</li>
            <li class="list-group-item">Durable, corrosion resistant 1″ control valve construction guarantees years of trouble-free, efficient operations</li>
            <li class="list-group-item">Down flow brining system ensures minimum water usage and efficient salt dosage</li>
          </ul>
          <h6 class="accordion-head">NASA Technology in your home</h6>
          <ul class="list-group">
            <li class="list-group-item">MicroSilver Bacteriostasis&trade; Technology is based on NASA silver ion technology developed to purify water on the Space Shuttle Orbiters</li>
            <li class="list-group-item">SilverShield® HYgene® filter media incorporates MicroSilver Bacteriostasis™ Technology into activated carbon to inhibit bacteria growth within the water softeners filter media while reducing objectionable tastes and odors</li>
          </ul>
          <div class="unit-certification">
            <div class="row">
              <div class="col-md-4 text-center">
                <img src="static/images/epa-seal.png" class="rounded small-certification text-center" alt="Certified to filter water effeciently by the EPA.">
              </div>
              <div class="col-md-8 text-center">
                <p class="certification-details">
                    Water softener contains EPA registered Bacteriostatic HYgene&reg;
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 text-center">
                <img src="static/images/WQA-Gold-Seal.png" class="rounded small-certification text-center" alt="Our water is tested by the WQA to work as designed.">
              </div>
              <div class="col-md-8 text-center">
                <p class="certification-details">
                  WQA tested and certified according to NSF/ANSI 44 for reduction of hardness minerals and NSF/ANSI 372 for low lead compliance.
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-lg-4">
              <h6 class="accordion-head">How it Works</h6>
               <ul class="list-group">
                  <li class="list-group-item">
                    <a rel="nofollow" class="system-number" href="#filtramax-about">
                    <span class="badge badge-pill badge-primary">1</span><span class="tank-details text-primary text-center">IGEN&reg; DIGITAL CONTROL VALVE</span>
                    </a>
                  </li>
                  <li class="list-group-item">
                    <a rel="nofollow" class="system-number" href="#filtramax-about">
                      <span class="badge badge-pill badge-primary">2</span><span class="tank-details text-primary">STAINLESS STEEL TANK</span>
                    </a>
                    <p class="tank-specs">Food grade 316L stainless steel provides a sanitary non-permeable surface for processing your water</p>
                  </li>
                  <li class="list-group-item">
                    <a rel="nofollow" class="system-section-link" href="#filtramax-about">
                      <span class="badge badge-pill badge-primary">3</span><span class="tank-details text-primary">MICROSILVER BACTERIOSTASIS&trade; TECHNOLOGY</span>
                    </a>
                    <p class="tank-specs">Microscopic particles of silver are embedded into SilverShield&reg; HYgene&reg; media to inhibit bacteria growth within the filter media bed</p>
                  </li>
                  <li class="list-group-item">
                    <a rel="nofollow" class="system-section-link" href="#filtramax-about">
                      <span class="badge badge-pill badge-primary">4</span><span class="tank-details text-primary">REFINER</span>
                    </a>
                    <p class="tank-specs">SilverShield&reg; HYgene® media reduces objectionable chlorine and chloramine tastes and odors</p>
                  </li>
                  <li class="list-group-item">
                    <a rel="nofollow" class="system-section-link" href="#filtramax-about">
                      <span class="badge badge-pill badge-primary">5</span><span class="tank-details text-primary">CONDITIONER</span>
                    </a>
                    <p class="tank-specs">High-Capacity S-759 monospheric resin has uniform sized beads for higher flow rates and efficiencies</p>
                    <p class="tank-specs">Reduces iron, turbidity and hardness</li>
                  <li class="list-group-item">
                    <a rel="nofollow" class="system-section-link" href="#filtramax-about">
                      <span class="badge badge-pill badge-primary">6</span><span class="tank-details text-primary">FILTER</span>
                    </a>
                    <p class="tank-specs">AltaPure&trade; effectively removes suspended solids as small as 5 microns</p></li>
                  <li class="list-group-item">
                    <a rel="nofollow" class="system-section-link" href="#filtramax-about">
                      <span class="badge badge-pill badge-primary">7</span><span class="tank-details text-primary">CLARIFIER</span>
                    </a>
                    <p class="tank-specs">Silica gravel polishes water to a sparkling clarity</p>
                  </li>
                  <li class="list-group-item">
                    <a rel="nofollow" class="system-section-link" href="#filtramax-about">
                      <span class="badge badge-pill badge-primary">8</span><span class="tank-details text-primary text-center">BACKFLUSH TANK</span>
                    </a>
                    </li>
                  <li class="list-group-item">
                    <a rel="nofollow" class="system-section-link" href="#filtramax-about">
                      <span class="badge badge-pill badge-primary">9</span><span class="tank-details text-primary text-center">POTASSIUM OR SALT</span>
                    </a>
                  </li>
                  <li class="list-group-item">
                    <a rel="nofollow" class="system-section-link" href="#filtramax-about">
                      <span class="badge badge-pill badge-primary">10</span><span class="tank-details text-primary text-center">FLOAT AND DISTRIBUTOR ASSEMBLY</span>
                    </a>
                  </li>
                  <li class="list-group-item">
                    <a rel="nofollow" class="system-section-link" href="#filtramax-about">
                     <span class="badge badge-pill badge-primary">11</span><span class="tank-details text-primary text-center">POTASSIUM OR SALT SOLUTION</span> 
                    </a>   
                  </li>
                </ul>
            </div><!-- EO col-md-4-->
              <div class="col-md-8 col-lg-12 text-center">
                 <img src="static/images/filtramax-numbered.png" class="rounded filters filtramax-numbered" id="filtramax-about" alt="FILTRAMAX Water sotener">
              </div>
          </div>
        </div> <!--EO cardblock-->
      </div> <!--EO collapse-->
    </div> <!--EO card -->
  </div> <!--EO acordion-->

  <div class="row">
    <div class="col-lg-4 col-md-4 text-center system-div">
      <img src="static/images/hydrogen.png" class="rounded filters igen" alt="HYDRONEX Water Softners">
    </div>
    <div class="col-lg-8 col-md-8 text-center">
      <h4 class="products-text-head">HYDRONEX&reg; IGEN&reg;</h4>
      <p class="products-text-desc">The Puronics&reg; Hydronex&reg; iGen&reg; whole-house water softener and conditioner provides superior quality water by incorporating the most technologically advanced equipment available today. This cost-effective, hi-tech water softener utilizes a sophisticated digital control valve to monitor your water usage so you don’t have to. You will be alerted when it is time to change the filter media, ensuring you always have the highest quality water. The multi-layered filter media tank combines an outer cover of stainless steel with the durability and protection of two additional layers so your family will enjoy the highest quality water for years.</p>
    </div>
  </div><!--EO row-->

  <div id="accordionTwo" role="tablist" aria-multiselectable="true">
    <div class="card">
      <div class="card-header" role="tab" id="headingTwo">
        <h5 class="mb-0 text-center">
          <a data-toggle="collapse" data-parent="#accordionTwo" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            More Details on the HYDRONEX&reg; IGEN&reg;
          </a>
        </h5>
      </div>

      <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="card-block">
          <h6 class="accordion-head">Features</h6>
          <ul class="list-group">
            <li class="list-group-item">iGen&reg; intelligent digital microprocessor controls the water softeners operation</li>
            <li class="list-group-item">Notifies homeowner when SilverShield&reg; Hygene&reg; Bacteriostatic filter needs to be replaced based on water volume</li>
            <li class="list-group-item">Maintains 60 days of water usage history to maximize backflush/recharge efficiency</li>
            <li class="list-group-item">Double backwash ensures a clean filter media bed</li>
            <li class="list-group-item">Designer long-neck faucet blends into any kitchen decor</li>
            <li class="list-group-item">Built-in diagnostics ensure consistent superior quality water</li>
            <li class="list-group-item">Creates auto reserve so you never run out of quality water</li>
            <li class="list-group-item">Durable, corrosion resistant 1″ control valve construction guarantees years of trouble-free, efficient operations</li>
            <li class="list-group-item">Down flow brining system ensures minimum water usage and efficient salt dosage</li>
          </ul>
          <div class="unit-certification">
            <div class="row">
              <div class="col-md-4 text-center">
                <img src="static/images/epa-seal.png" class="rounded small-certification" alt="Certified to filter water effeciently by the EPA.">
              </div>
              <div class="col-md-8 text-center">
                <p class="certification-details">
                    Water softener Contains EPA registered Bacteriostatic HYgene&reg;
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 text-center">
                <img src="static/images/WQA-Gold-Seal.png" class="rounded small-certification" alt="Our water is tested by the WQA to work as designed.">
              </div>
              <div class="col-md-8 text-center">
                <p class="certification-details">
                  WQA tested and certified according to NSF/ANSI 44 for reduction of hardness minerals and NSF/ANSI 372 for low lead compliance.
                </p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 col-lg-4">
              <h6 class="accordion-head">How it Works</h6>
               <ul class="list-group">
                  <li class="list-group-item">
                    <a rel="nofollow" class="system-number" href="#hydronex-numbered">
                    <span class="badge badge-pill badge-primary">1</span><span class="tank-details text-primary text-center">IGEN&reg; DIGITAL CONTROL VALVE</span>
                    </a>
                  </li>
                  <li class="list-group-item">
                    <a rel="nofollow" rel="nofollow" class="system-number" href="#hydronex-numbered">
                      <span class="badge badge-pill badge-primary">2</span><span class="tank-details text-primary">THREE PIECE FILTER MEDIA TANK</span>
                    </a>
                    <p class="tank-specs">Inner liner of Polyethylene</p>
                    <p class="tank-specs">Outer layer of fiberglass</p>
                    <p class="tank-specs">Stainless Steel Outer Cover</p>
                  </li>
                  <li class="list-group-item">
                    <a rel="nofollow" rel="nofollow" class="system-section-link" href="#hydronex-numbered">
                      <span class="badge badge-pill badge-primary">3</span><span class="tank-details text-primary">MICROSILVER BACTERIOSTASIS&trade; TECHNOLOGY</span>
                    </a>
                    <p class="tank-specs">Microscopic particles of silver are embedded into SilverShield&reg; HYgene&reg; media to inhibit bacteria growth within the filter media bed</p>
                  </li>
                  <li class="list-group-item">
                    <a rel="nofollow" rel="nofollow" class="system-section-link" href="#hydronex-numbered">
                      <span class="badge badge-pill badge-primary">4</span><span class="tank-details text-primary">REFINER</span>
                    </a>
                    <p class="tank-specs">SilverShield&reg; HYgene® media reduces objectionable chlorine and chloramine tastes and odors</p>
                  </li>
                  <li class="list-group-item">
                    <a rel="nofollow" rel="nofollow" class="system-section-link" href="#hydronex-numbered">
                      <span class="badge badge-pill badge-primary">5</span><span class="tank-details text-primary">CONDITIONER</span>
                    </a>
                    <p class="tank-specs">High-Capacity S-759 monospheric resin has uniform sized beads for higher flow rates and efficiencies</p>
                    <p class="tank-specs">Reduces iron, turbidity and hardness
                  </li>
                  <li class="list-group-item">
                    <a rel="nofollow" rel="nofollow" class="system-section-link" href="#hydronex-numbered">
                      <span class="badge badge-pill badge-primary">6</span><span class="tank-details text-primary">CLARIFIER</span>
                    </a>
                    <p class="tank-specs">Silica gravel polishes water to a sparkling clarity</p>
                  </li>
                  <li class="list-group-item">
                    <a rel="nofollow" rel="nofollow" class="system-section-link" href="#hydronex-numbered">
                      <span class="badge badge-pill badge-primary">7</span><span class="tank-details text-primary text-center">BACKFLUSH TANK</span>
                    </a>
                    </li>
                  <li class="list-group-item">
                    <a rel="nofollow" rel="nofollow" class="system-section-link" href="#hydronex-numbered">
                      <span class="badge badge-pill badge-primary">8</span><span class="tank-details text-primary text-center">POTASSIUM OR SALT</span>
                    </a>
                  </li>
                  <li class="list-group-item">
                    <a rel="nofollow" rel="nofollow" class="system-section-link" href="#hydronex-numbered">
                      <span class="badge badge-pill badge-primary">9</span><span class="tank-details text-primary text-center">FLOAT AND DISTRIBUTOR ASSEMBLY</span>
                    </a>
                  </li>
                  <li class="list-group-item">
                    <a rel="nofollow" rel="nofollow" class="system-section-link" href="#hydronex-numbered">
                     <span class="badge badge-pill badge-primary">10</span><span class="tank-details text-primary text-center">POTASSIUM OR SALT SOLUTION</span> 
                    </a>   
                  </li>
                </ul>
            </div><!-- EO col-md-4-->
            <div class="col-md-8 col-lg-12 text-center" id="hydronex-numbered">
               <img src="static/images/hydronex-numbered.png" class="rounded filters hydronex-numbered"  alt="HYDRONEX Water filtration softener">
            </div>
          </div> <!--EO row -->


        </div> <!--EO cardblock-->

      </div> <!--EO collapse-->
    </div> 
  </div> <!--EO acordion-->
  <div class="row">
    <div class="col-lg-4 col-md-4 text-center micro-div">
        <img src="static/images/micromax-7000.png" class="rounded filters micromax" alt="Micromax 7000 Reverse Osmosis (R.O.)">
      </div>
      <div class="col-lg-8 col-md-8 text-center">
        <h4 class="products-text-head">Micromax&trade; 7000 Drinking System</h4>
        <p class="products-text-desc">This sleek water system is designed to produce crystal clear, clean, great-tasting water. The quality construction and superior performance of this reverse osmosis system ensures maximum protection of your family’s drinking water for years to come. The 4-stage advanced technology is packaged in a low-profile, sleek, durable design that fits easily under any kitchen sink.</p>
    </div><!--EO row-->
  </div>

  <div id="accordion" role="tablist" aria-multiselectable="true">
    <div class="card">
      <div class="card-header" role="tab" id="headingOne">
        <h5 class="mb-0 text-center">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            More Details on the Micromax&trade; 7000
          </a>
        </h5>
      </div>

      <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="card-block">
          <ul class="list-group">
            <li class="list-group-item">Patented Easy Change™ sanitary filter cartridges automatically shut off water when removed for quick, no-leak filter replacement</li>
            <li class="list-group-item">Operates on household water pressure and uses no electricity</li>
            <li class="list-group-item">Stylish slim-profile design requires minimal use of space</li>
            <li class="list-group-item">Kitchen Faucet Adapter allows easy connection to cold water supply – no need for needle valves or special plumbing</li>
            <li class="list-group-item">Designer long-neck faucet blends into any kitchen decor</li>
            <li class="list-group-item">Each reverse osmosis system is subject to rigid quality control and testing, the results of which are proudly included in packaging</li>
            <li class="list-group-item">Durable high-quality fittings, valves and construction ensure years of reliable, leak-free performance</li>
          </ul>
          <div class="unit-certification">
            <div class="row">
              <div class="col-md-4 text-center">
                <img src="static/images/WQA-Gold-Seal.png" class="rounded small-certification ro-cert" alt="WQA Logo - certified reverse osmosis">
              </div>
              <div class="col-md-8 text-center">
                <p class="ro-certification-details">
                  Reverses osmosis system Tested and Certified by the Water Quality Association (WQA) against NSF/ANSI Standard 58 for the reduction of Cysts, Lead, Pentavalent Arsenic, Cadmium, Hexavalent Chromium, Trivalent Chromium, Selenium, Nitrites/Nitrates and Total Dissolved Solids (TDS) and against NSF/ANSI Standard 42 for the aesthetic reduction of Chlorine Taste and Odor and Particulate Class III NSF/ANSI Standard 372 for low lead compliance.
                </p>
              </div>
            </div>
          </div><!-- EO UNIT Cert-->
          <div class="row">
            <div class="col-md-4 col-lg-4">
              <h6 class="accordion-head">How it Works</h6>
               <ul class="list-group">
                  <li class="list-group-item">
                    <a rel="nofollow" class="system-number" href="#micromax-numbered">
                    <span class="badge badge-pill badge-primary">1</span><span class="tank-details text-primary text-center">STAGE 1 – ACTIVATED CARBON FILTER</span>
                    </a>
                    <p class="tank-specs">High-capacity 5-micron graded density porous carbon filter</p>
                    <p class="tank-specs">Protects the entire reverse osmosis system by removing dirt, rust and sediments as small as 2/10,000 of an inch</p>
                    <p class="tank-specs">Maximum contact time with filter media for de-chlorination with effective adsorption</p>
                  </li>
                  <li class="list-group-item">
                    <a rel="nofollow" class="system-number" href="#micromax-numbered">
                      <span class="badge badge-pill badge-primary">2</span><span class="tank-details text-primary">STAGE 2 – ULTRA-FILTRATION (UF)</span>
                    </a>
                    <p class="tank-specs">Super-fine filter creates a barrier to waterborne cysts like Cryptosporidium and Giardia, if present</p>
                    <p class="tank-specs">Self-cleaning process</p>
                    <p class="tank-specs">Reduces particulate matter as small as 1/10,000 of a micron</p>
                  </li>
                  <li class="list-group-item">
                    <a rel="nofollow" class="system-section-link" href="#micromax-numbered">
                      <span class="badge badge-pill badge-primary">3</span><span class="tank-details text-primary">STAGE 3 – REVERSE OSMOSIS (RO)</span>
                    </a>
                    <p class="tank-specs">Unique filter allows water molecules to slowly pass through</p>
                    <p class="tank-specs">Reduces the majority of dissolved solids such as Sodium, Selenium, Arsenic, Nitrates and Nitrites, if present</p>
                    <p class="tank-specs">Reduces dissolved metals like Lead, Copper, Cadmium, Hexavalent and Trivalent Chromium, if present</p>
                    <p class="tank-specs">Impurities are automatically flushed down the drain</p>
                    <p class="tank-specs">Processed water is stored in a sealed and sterilized tank</p>
                  </li>
                  <li class="list-group-item">
                    <a rel="nofollow" class="system-section-link" href="#micromax-numbered">
                      <span class="badge badge-pill badge-primary">4</span><span class="tank-details text-primary">STAGE 4 – ACTIVATED CARBON BLOCK ADSORPTION</span>
                    </a>
                    <p class="tank-specs">High density carbon block polishes water from storage tank</p>
                    <p class="tank-specs">Removes unpleasant tastes and odors</p>
                    <p class="tank-specs">Produces great-tasting, crystal clear water</p>
                  </li>
                </ul>
            </div><!-- EO col-md-4-->
            <div class="col-md-8 col-lg-12 text-center" id="micromax-numbered">
               <img src="static/images/micromax-numbered.png" class="rounded filters micromax-numbered"  alt="Micromax RO Water filter">
            </div>
          </div> <!--EO row -->
        </div> <!--EO cardblock-->
      </div> <!--EO collapse-->
    </div> 
  </div> <!--EO acordion-->
</div><!--EO our-products-->

<div class"water-test" id="water-test">
  <div class="water-main-div text-center">
    <h4 class="water-test-head">No Obligation Water Test</h4>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 text-center">
      <p class="water-test-about">
        The first step in having pure clean soft water is to get a your water tested. Our FREE Water Analysis will provide you with important information about the water you use on a daily basis. With our no obligation water analysis we aim to educate and inform people about the water they use and provide the options available to filter out pollutants  
      </p>
      <p class="water-test-action">
        Our team of Water Tech Specialist are ready to test your water for you, so you can make an informed decision about your water. We will explain to you the impacts and the benefits you can expect to see.  Reach out to us today and we will test your water when it's convenient for you.
      </p>
      <div class="water-test-filler text-center">
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 text-center">
      <h4 class="test-para-head">10 Parameter Water Test</h4>
      <p class="test-para-about">We test for the following parameters. We also offer a laboratory test to all our customers at a discounted rate, after you purchase a water softener from us. We offer this to prove to our customers that our systems are working as promised.</p>
      <ul class="list-group para-list">
        <li class="list-group-item test-para"><a href="https://archive.epa.gov/water/archive/web/html/vms510.html">Total Alkalinity</a></li>
        <li class="list-group-item test-para"><a href="https://www.livestrong.com/article/487702-how-to-drink-water-with-high-ph/">pH</a></li>
        <li class="list-group-item test-para"><a href="http://www.water-research.net/index.php/water-treatment/tools/hard-water-hardness">Total Hardness</a></li>
        <li class="list-group-item test-para"><a href="http://www.idph.state.il.us/envhealth/factsheets/ironfs.htm">Iron</a></li>
        <li class="list-group-item test-para"><a href="http://www.health.state.mn.us/divs/eh/water/factsheet/com/copper.html">Copper</a></li>
        <li class="list-group-item test-para"><a href="https://www.epa.gov/ground-water-and-drinking-water/basic-information-about-lead-drinking-water">Lead</a></li>
        <li class="list-group-item test-para"><a href="http://psep.cce.cornell.edu/facts-slides-self/facts/nit-heef-grw85.aspx">Nitrate</a></li>
        <li class="list-group-item test-para"><a href="http://www.water-research.net/index.php/nitrate">Nitrite</a></li>
        <li class="list-group-item test-para"><a href="http://www.bioray.com/content/Chlorine.pdf">Free Chlorine</a></li>
        <li class="list-group-item test-para"><a href="Total Dissolved Solids">Total Dissolved Solids</a></li>
      </ul>
    </div>
  </div><!-- EO Row -->
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <a rel="nofollow" class="btn btn-primary btn-lg btn-block water-button" href="tel:19154407873">Call Us For a Water Test</a>
    </div>
  </div>
</div>
{% endblock %}