{% extends "main.html" %}
{% block body %}
 <main role="main">

 	<!-- SOF Jumbotron -->

	<div class="jumbotron">
	  <div class="container">
	    <h1 class="display-3 mx-auto mt-4 home-h1">Get Your Nails Done by a Nail Pro</h1>
	    <p class="lead mx-auto home-p">You will not find a place with more passionate nail artist anywhere in town.</p>
	  </div>
	</div>

	<!-- EOF Jumbotron -->

	<!-- SOF Service Menu -->

	<div class="jumbotron">
	  <div class="container">
	    <h3 class="display-3 mx-auto">Service Menu</h3>
		    <p class="lead mx-auto">Getting a service with us easy, all you have to do is first decide what you want, next choose who you want the service done by and the amount of time the work you want will take. Here you can learn about our artists there hourly rates or pick from the services we offer.</p>
	  </div>
	</div>

	<!-- EOF Service Menu -->

	<!-- SOF Nails -->

    <div class="container">
		<h1 class="display-4">Nails</h1>
	        <p class="about-pedi mt-3 mb-4 mr-2 ml-2">Our studio is home for nail fatatics of any level from extravagant to comtempary nail designs you can get them done at our studio. We offer to El Pasoans a place to get quaility gel, hard gel or acrylic nail art.</p>
		   <div class="card-deck mb-3 text-center">
	        <div class="card mb-4 box-shadow">
	          <div class="card-header">
	            <h4 class="my-0 font-weight-normal">House Artists</h4>
	          </div>
	          <div class="card-body">
	          	<p class="about-pedi mt-3 mb-4 mr-2 ml-2">Our House Artists have a passion for nail art. As a nail art studio we go to great lengths to educate and make it possible for our house artists to get better at their craft under the guidence of our Master Nail Artist Educator. Their rates are dependent on the level they are on.</p>
	          	<h1 class="card-title pricing-card-title">$40+ <small class="text-muted">/ hr</small></h1>
	            <ul class="list-unstyled mt-3 mb-4">
	              <li>2 Years Minimum Creating Nail Art</li>
	              <li>Licensed in the State of Texas</li>
	              <li>Passion for Nail Art</li>
	              <li>Set Hourly Rates</li>
	            </ul>
	            <button type="button" class="btn btn-lg btn-block btn-outline-danger">House Artist</button>
	          </div>
	        </div>
	        <div class="card mb-4 box-shadow">
	          <div class="card-header">
	            <h4 class="my-0 font-weight-normal">Independent Artists</h4>
	          </div>
	          <div class="card-body">
	          	<p class="about-pedi mt-3 mb-4 mr-2 ml-2">Our Independent Nail Artists are professionals that work independently from D'Licious Nails but still adhere to our high standards of professionalism and workmanship. Because they rent at our studio their rates very depending on how they choose to charge.</p>
	          	<h1 class="card-title pricing-card-title">Rates Vary</h1>
	            <ul class="list-unstyled mt-3 mb-4">
	              <li>At least 5 Years Creating Nail Art</li>
	              <li>Licensed in the State of Texas</li>
	              <li>Passion for Nail Art</li>
	              <li>Rates vary by Service</li>
	            </ul>
	            <button type="button" class="btn btn-lg btn-block btn-outline-danger">Independent Artists Available</button>
	          </div>
	        </div>
	    </div>
  	</div> 

  	<!-- EO Nails -->

  	<!-- SOF Pedicures -->
  	
  	<div class="container">
		<h1 class="display-4">Pedicures</h1>
			<p class="about-pedi mt-3 mb-4 mr-2 ml-2">Endulge your hands and feet with us and you will experience a new level of pampering. At our nail salon you will get to experience a new way to treat your feet that includes top of the line products, complementary message pillows to sooth your back and legs.</p>
		<div class="card-deck mb-3 text-center">
	        <div class="card mb-4 box-shadow">
	          <div class="card-header">
	            <h4 class="my-0 font-weight-normal">Jelly Pedicure</h4>
	          </div>
	          <div class="card-body">
	          	<p class="about-pedi mt-3 mb-4 mr-2 ml-2">A quick and fun pedicure that covers all the essentials. The soothing <a href="http://www.avrybeauty.com/#products">Avry Beauty Jello</a> bath works as a skin and callus softener, plus heat therapy and soothing aromatherapy. Perfect for kids because it is delecate and soothing.</p>
	            <h1 class="card-title pricing-card-title">$30</h1>
	            <ul class="list-unstyled mt-3 mb-4">
	              <li>Jelly Soak</li>
	              <li>Shaping, cuticle care, sole care</li>
	              <li>Polish of choice</li>
	              <li>Take home foot care kit (nail file, buffer and foot file)</li>
	              <li>It takes 30 minutes</li>
	            </ul>
	            <button type="button" class="btn btn-lg btn-block btn-outline-danger">Get a Jelly Pedicure</button>
	          </div>
	      	</div>
	        <div class="card mb-4 box-shadow">
	          <div class="card-header">
	            <h4 class="my-0 font-weight-normal">Sweet Pedicure</h4>
	          </div>
	          <div class="card-body">
				<p class="about-pedi mt-3 mb-4 mr-2 ml-2">This pedicure has all the essentials plus some more. Enjoy a warm soothing soak followed by exfoliating sugar scrub and a relaxing massage fom our favorate Organic Company  </p>
	            <h1 class="card-title pricing-card-title">$45</h1>
	            <ul class="list-unstyled mt-3 mb-4">
	              <li>Organic scrub</li>
	              <li>Polish of choice</li>
	              <li>Take home foot file</li>
	              <li>It takes 45 minutes</li>
	            </ul>
	            <button type="button" class="btn btn-lg btn-block btn-outline-danger">Get a Sweet Pedicure</button>
	          </div>
	        </div>
	    </div>
	    <div class="card-deck mb-3 text-center">
	        <div class="card mb-4 box-shadow">
	          <div class="card-header">
	            <h4 class="my-0 font-weight-normal">D'Licious Pedicure</h4>
	          </div>
	          <div class="card-body">
	          	<p class="about-pedi mt-3 mb-4 mr-2 ml-2">You will get a jelly soak, organic scrub and we add a mud mask. Included also get a hot-stone massage to relax your legs and feet. We end this service with the polish of your choice.</p>
	            <h1 class="card-title pricing-card-title">$60</h1>
	            <ul class="list-unstyled mt-3 mb-4">
	              <li>Organic scrub</li>
	              <li>Mud mask</li>
	              <li>Hot Stone Massage</li>
	              <li>Polish of choice</li>
	              <li>Take home foot file</li>
	              <li>It takes 1 hour</li>
	            </ul>
	            <button type="button" class="btn btn-lg btn-block btn-outline-danger">Contact us</button>
	         </div>
	       </div>
	       <div class="card mb-4 box-shadow">
	          <div class="card-header">
	            <h4 class="my-0 font-weight-normal">Indulgent Pedicure</h4>
	          </div>
	          <div class="card-body">
	          	<p class="about-pedi mt-3 mb-4 mr-2 ml-2">This pedicure includes a jelly soak, organic scrub, mud mask and a paraffin wax treatment to soften your skin. We also include the hot stone massage and the polish of your choice.</p>
	            <h1 class="card-title pricing-card-title">$75</h1>
	            <ul class="list-unstyled mt-3 mb-4">
	              <li>Organic scrub</li>
	              <li>Mud mask</li>
	              <li>Hot Stone Massage and Paraffin Wax Treatment</li>
	              <li>Polish of choice</li>
	              <li>Take home foot file</li>
	              <li>It takes 1 hour and 15 minutes</li>
	            </ul>
	            <button type="button" class="btn btn-lg btn-block btn-outline-danger">Contact us</button>
	         </div>
	       </div>
	     </div>
 		</div> 

 		<!-- EO Pedicures -->

 		<!-- SOF Other D'Liciouns Services -->

		<div class="container">
			<h1 class="display-4">Other D'Licious Services</h1>
			<p class="about-pedi mt-3 mb-4 mr-2 ml-2">At our studio you have the option of getting beuuty services on more than your hands and feet by beauty proffesionals that can uphold the high standards at D'Licious Nails. At your service we offer lash, brow and make up artists to help you complete the look you are after.</p>
		    <div class="card-deck mb-3 text-center">
		        <div class="card mb-4 box-shadow">
		          <div class="card-header">
		            <h4 class="my-0 font-weight-normal">Lash Extensions</h4>
		          </div>
		          <div class="card-body">
		          	<p class="about-pedi mt-3 mb-4 mr-2 ml-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		            <h1 class="card-title pricing-card-title">$150 <small class="text-muted">/ service</small></h1>
		            <ul class="list-unstyled mt-3 mb-4">
		              <li>10 users included</li>
		              <li>2 GB of storage</li>
		              <li>Email support</li>
		              <li>Help center access</li>
		            </ul>
		            <button type="button" class="btn btn-lg btn-block btn-outline-danger">Eye Lash Extensions</button>
		          </div>
	        	</div>
	        <div class="card mb-4 box-shadow">
	          <div class="card-header">
	            <h4 class="my-0 font-weight-normal">Micro Bladding</h4>
	          </div>
	          <div class="card-body">
	          	<p class="about-pedi mt-3 mb-4 mr-2 ml-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	            <h1 class="card-title pricing-card-title">$300 <small class="text-muted">/ session</small></h1>
	            <ul class="list-unstyled mt-3 mb-4">
	              <li>20 users included</li>
	              <li>10 GB of storage</li>
	              <li>Priority email support</li>
	              <li>Help center access</li>
	            </ul>
	            <button type="button" class="btn btn-lg btn-block btn-outline-danger">Eye Brow Micro Bladding</button>
	          </div>
	        </div>
	        <div class="card mb-4 box-shadow">
	          <div class="card-header">
	            <h4 class="my-0 font-weight-normal">Make Up</h4>
	          </div>
	          <div class="card-body">
	          	<p class="about-pedi mt-3 mb-4 mr-2 ml-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	            <h1 class="card-title pricing-card-title">$60 <small class="text-muted">/ mo</small></h1>
	            <ul class="list-unstyled mt-3 mb-4">
	              <li>30 users included</li>
	              <li>15 GB of storage</li>
	              <li>Phone and email support</li>
	              <li>Help center access</li>
	            </ul>
	            <button type="button" class="btn btn-lg btn-block btn-outline-danger">Contact us</button>
	          </div>
	        </div>
	    </div>
  	</div> 
  	
  	<!-- EO Container -->

  	<!-- SOF Packages -->

  	<div class="container">
			<h1 class="display-4">Packages</h1>
			<p class="about-pedi mt-3 mb-4 mr-2 ml-2">Are you planning on getting more than one service from us, we have packages available. Maybe you having a weddimg or quince soon and want to cordinate a nail art, pedicure make up and lash package, we have options for you. Each package includes a customized design for the queen.</p>
		    <div class="card-deck mb-3 text-center">
		        <div class="card mb-4 box-shadow">
		          <div class="card-header">
		            <h4 class="my-0 font-weight-normal">Queen Wedding Package</h4>
		          </div>
		          <div class="card-body">
		          	<p class="about-pedi mt-3 mb-4 mr-2 ml-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		            <h1 class="card-title pricing-card-title">$700 <small class="text-muted">/ session</small></h1>
		            <ul class="list-unstyled mt-3 mb-4">
		              <li>10 users included</li>
		              <li>2 GB of storage</li>
		              <li>Email support</li>
		              <li>Help center access</li>
		            </ul>
		            <button type="button" class="btn btn-lg btn-block btn-outline-danger">Queen Wedding Package</button>
		          </div>
	        	</div>
	        <div class="card mb-4 box-shadow">
	          <div class="card-header">
	            <h4 class="my-0 font-weight-normal">Sweet Quince Package</h4>
	          </div>
	          <div class="card-body">
	          	<p class="about-pedi mt-3 mb-4 mr-2 ml-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	            <h1 class="card-title pricing-card-title">$550 <small class="text-muted">/ session</small></h1>
	            <ul class="list-unstyled mt-3 mb-4">
	              <li>20 users included</li>
	              <li>10 GB of storage</li>
	              <li>Priority email support</li>
	              <li>Help center access</li>
	            </ul>
	            <button type="button" class="btn btn-lg btn-block btn-outline-danger">Sweet Quince Package</button>
	          </div>
	        </div>
	        <div class="card mb-4 box-shadow">
	          <div class="card-header">
	            <h4 class="my-0 font-weight-normal">Girls Night Out</h4>
	          </div>
	          <div class="card-body">
	          	<p class="about-pedi mt-3 mb-4 mr-2 ml-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	            <h1 class="card-title pricing-card-title">$400 <small class="text-muted">/ hr</small></h1>
	            <ul class="list-unstyled mt-3 mb-4">
	              <li>30 users included</li>
	              <li>15 GB of storage</li>
	              <li>Phone and email support</li>
	              <li>Help center access</li>
	            </ul>
	            <button type="button" class="btn btn-lg btn-block btn-outline-danger">Girls Night Out</button>
	          </div>
	        </div>
	    </div>
  	</div> 

  	<!-- SOF Other D'Liciouns Services -->


  </main>

{% endblock %}